body {
    text-align: center;
	font-family: Courier;
	font-weight: bold;
	background-color: #008080;
	color: white;
}

.calc {
    border: 5px solid white;
    padding: 20px;
    position: relative;
    display: inline-flex;
    align-content: center;
    border-radius: 5px;
}

.F{
    margin-right: 9px;
    margin-bottom: 10px;
}

input {
    color: black;
    font-family: Courier;
    font-size: 18px;
    font-weight: bold;
    padding: 4px;
    border-radius: 4px;
}

button {
    background-color: white;
    color: #008080;
    border: none;
    padding: 3px;
    border-radius: 3%;
    font-weight: bold;
}